.App {
  text-align: center;
}

#title {
  text-align: center;
}

#textbox {
  text-align: center;
}

#grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 5px solid black;
  height: 500px;
  width: 500px;
  margin: auto;
  background-image: url("metallicBackground.jpg");
}

#box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 10px;
  height: 98px;
  width: 98px;
  border: 1px solid black;
}

.container {
  text-align: center;
}

#startButton {
  margin: 0 5px 0 10px;
}

#resetButton {
  margin: 0 5px 0 10px;
}

#nextGameButton {
  margin: 0 5px 0 10px;
}

#robot {
  position: relative;
}

#antenna {
  display: inline-block;
  width: 5px;
  height: 7px;
  background: red;
  border-radius: 10px / 5px;
  top: 20px;
}

#antennaRight {
  width: 5px;
  height: 7px;
  background: red;
  border-radius: 10px / 5px;
  display: inline-block;
  margin-left: 25px;
}

#headUpDown {
  width: 20px;
  height: 20px;
  background: steelblue;
  margin-left: 35px;
  border-bottom: 1px solid black;
}

#headLeftRight {
  width: 20px;
  height: 20px;
  background: steelblue;
  margin-left: 15px;
  border-bottom: 1px solid black;
}

#leftEyeDown {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  float: left;
}

#rightEyeDown {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  float: right;
}

#mouthDown {
  display: flex;
  width: 20px;
  height: 10px;
  background: repeating-linear-gradient(
    to right,
    #f8f8f8,
    #070707 10px
    );
    border-radius: 100px / 50px;
  }
  
#bodyUpDown, #bodyLeftRight {
  display: flex;
}
  
#torsoUpDown {
  display: inline-block;
  width: 30px;
  height: 45px;
  background: steelblue;
}

#torsoLeftRight {
  display: inline-block;
  width: 20px;
  height: 45px;
  background: steelblue;
  margin-left: 15px;
}

#rightArmUpDown {
  display: inline-block;
  transform: rotate(330deg);
  width: 30px;
  height: 8px;
  background: steelblue;
  margin-top: 12px;
}

#rightArmRight {
  width: 30px;
  height: 8px;
  background: steelblue;
  transform: rotate(50deg);
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

#rightArmLeft {
  width: 30px;
  height: 8px;
  background: steelblue;
  transform: rotate(310deg);
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
}

#rightArmWin {
  display: inline-block;
  transform: rotate(60deg);
  width: 30px;
  height: 8px;
  background: steelblue;
  margin-top: 2px;
}

#leftArmUpDown {
  display: inline-block;
  transform: rotate(30deg);
  width: 30px;
  height: 8px;
  background: steelblue;
  margin-top: 12px;
}

#leftArmRight {
  width: 30px;
  height: 8px;
  background: steelblue;
  transform: rotate(50deg);
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
}

#leftArmLeft {
  width: 30px;
  height: 8px;
  background: steelblue;
  transform: rotate(310deg);
  display: inline-block;
  position: absolute;
  margin-top: 20px;
  margin-right: 20px;
}

#leftArmWin {
  display: inline-block;
  transform: rotate(300deg);
  width: 30px;
  height: 8px;
  background: steelblue;
  margin-top: 2px;
}

#gravitationRing {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  animation: gravitate 1s linear infinite;
}
  
@keyframes gravitate {
  100% {
    width: 100%;
    height: 100%;
  }
  75% {
    width: 75%;
    height: 75%;
  }
  50% {
    width: 50%;
    height: 50%;
  }
  25% {
    width: 25%;
    height: 25%;
  }
  0% {
    width: 0%;
    height: 0%;
  }
}

#battery {
  height: 50%;
  width: 50%;
}